.workExperienceIcon {
    color: #6DD0DB;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.experienceContainerTitle {
    color: #6DD0DB;
    font-family: 'Oswald-Bold', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 2%;
}

.experienceContent {
    width: 90%;
    font-family: 'Oswald-Medium', sans-serif;
    font-size: 20px;
    margin-top: 3%;
    padding: 10px;
}

.date {
    align-items: center;
    background-color: #6dd0db;
    border-radius: 50%;
    display: flex;
    font-weight: 700;
    height: 100px;
    justify-content: center;
    top: 50%;
    bottom: 50%;
    width: 100px;
    z-index: 5;
    color: #FFFFFF;
    margin: 0;
    flex-direction: column;
    font-size: 18px;
}

.experienceContentContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.verticalBarContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    justify-content: center;
}

.verticalBar {
    background-color: #6dd0db;
    height: 100%;
    position: absolute;
    width: 10px;
}

.experienceElement {
    width: 100%;
}

.experience {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 40%;
    padding: 15px;
    border: 3px #6dd0db solid;
    border-radius: 15px;
}

.experienceImage {
    width: 100px;
    height: 100px;
}

.experienceHeader {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
}

.experienceDescription {
    width: 100%;
}

.experienceDescription .chevronRight {
    height: 15px;
    width: 15px;
    color: #6dd0db;
    margin-right: 5px;
}

.experienceDescriptionContainer {
    font-size: 17px;
}

.experienceTitle {
    color: #6DD0DB;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.displayFlexRight {
    display: flex;
    justify-content: end;
    order: 2;
}

.displayFlexLeft {
    display: flex;
    justify-content: start;
}

.verticalBar.first {
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.verticalBar.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 600px) {
    .experienceTitle {
        font-size: 25px;
    }

    .experienceImage {
        display: none;
    }

    .experienceDescriptionContainer {
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .experienceImage {
        display: none;
    }

    .date {
        width: 75px;
        height: 75px;
        font-size: 15px;
    }
}
